<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script type="text/javascript">
    	var Chat = {
    		username: null,
    		init: function() {
    			this.username = prompt('Write your username');
    		},
    		updateCounter: function(count) {
	    		$('.counter span').text(count);
	    	},
	    	updateUsers: function(users) {
	    		console.log(users);
	    		var ul = $('.panel.left ul');
	    		ul.empty();
	    		for(var i in users) {
	    			ul.append( $('<li>').text(users[i]) );
	    		}
	    	},
	    	showMessage: function(message) {
	    		var p = $('<p>');
	    		p.append('<strong>' + message.username + ':</strong>');
	    		p.append(message.text);
	    		$('.messages').append(p);
	    	},
	    	showAll: function(messages) {
	    		for(var i in messages) {
	    			this.showMessage(messages[i]);
	    		}
	    	}
    	};
    	Chat.init();

    	var socket = io.connect('http://localhost:3000');
    	socket.on('hi', function(messages) {
    		Chat.showAll(messages);
    		socket.emit('new user', {
    			username: Chat.username
    		});
    	});
    	socket.on('user online', function(data) {
    		Chat.updateCounter(data.count);
    		Chat.updateUsers(data.users);
    	});
    	socket.on('user offline', function(data) {
    		Chat.updateCounter(data.count);
    		Chat.updateUsers(data.users);
    	});

    	socket.on('message', function(message) {
    		Chat.showMessage(message);
    	});

    	$(document).on('submit', '#newMessage', function(e) {
			e.preventDefault();
			var input = $(this).children();
			socket.emit('message', {
				username: Chat.username,
				text: input.val().trim()
			});
			input.val('');
		});

    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="container">
    	<div class="counter">
    		<span>...</span> users online
    	</div>
    	<div class="panel left">
    		<ul>
    			
    		</ul>
    	</div>
    	<div class="panel right">
    		<div class="messages">
    		</div>
    		<form action="" id="newMessage">
    			<input type="text" >
    		</form>
    	</div>
    </div>
  </body>
</html>