body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.panel {
	float: left;
}

div.panel.left {
	width: 20%;
}

div.panel.right {
	width: 80%;
}